*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right, .left {
    width: 250px;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 30px;
     flex-direction: column;
     cursor: pointer;
}
#date {
    font-size: 80px;
    line-height: 90px;
}


.right {
    
    background-color: #ff0000;
    color: #fff;
    border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
}
.left {

    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}
@media screen and (max-width: 600px) {
  .right, .left {
    width: 100%;  
    height: 200px;
    border-radius: 0;
  }

  .hero {
    flex-direction: column;
  }

  #date {
    font-size: 50px;
    line-height: 60px;
  }
}